.productDetails {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  .toCatalog {
    display: flex;
    column-gap: 12px;
    align-items: center;
    width: 130px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      column-gap: 6px;
    }
  }
}
