.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > svg path {
  fill: var(--loader-bg);
}

.loaderSize-l {
  width: 60px;
  height: 60px;
}

.loaderSize-l > svg {
  width: 40px;
  height: 40px;
}

.loaderSize-m {
  width: 48px;
  height: 48px;
}

.loaderSize-m > svg {
  width: 32px;
  height: 32px;
}

.loaderSize-s {
  width: 24px;
  height: 24px;
}

.loaderSize-s > svg {
  width: 16px;
  height: 16px;
}
