.option {
  padding: 14px 12px;

  .checkbox {
    display: none;
  }

  .checkbox:checked + p {
    color: var(--text-accent);
  }

  .input path {
    fill: var(--text-secondary);
  }

  .input input {
    color: var(--text-primary);
  }
  .input input:focus {
    color: var(--text-secondary);
  }
}
