.productDetailCard {
  display: flex;
  margin-top: 32px;
  gap: 48px;

  .productInfo {
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 653px;

    p {
      margin-top: 24px;
    }

    h2 {
      margin-top: 80px;
    }

    .actions {
      display: flex;
      column-gap: 48px;
      align-items: center;
      margin-top: 48px;

      button:last-child {
        background-color: transparent;
        color: var(--text-primary);
        border: 1px #afadb5 solid;
        transition: 0.2s;

        &:hover {
          border: 1px var(--brand) solid;
          color: var(--brand);
        }
      }
    }
  }
}