@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-wrapped {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 80px;
  row-gap: 50px;
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
