.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon svg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon svg path{
  display: flex;
  align-self: center;
}


.icon path {
  fill: inherit;
  stroke: inherit;
}

.icon-primary path {
  fill: var(--text-primary);
  stroke: var(--text-primary);
}

.icon-secondary path {
  fill: var(--text-secondary);
  stroke: var(--text-secondary);
}

.icon-accent path {
  fill: var(--text-accent);
  stroke: var(--text-accent);
}

.iconNoFill path {
  fill: none;
}

.iconNoStroke path {
  stroke: none;
}
